<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Furniture</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container">
    <form th:action="@{/new}" th:method="get" class="mb-4">
        <button type="submit" class="btn btn-primary">Добавить новый холодильник</button>
    </form>

    <form th:action="@{/}" th:method="get" class="mb-4">
        <div class="form-group">
            <label for="name">Модель:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-info">Поиск по модели</button>
    </form>

    <div class="row">
        <div th:each="fridge : ${fridge}" class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${fridge.model}">Модель</h5>
                    <p class="card-text" th:text="'Бренд: ' + ${fridge.brand}">Бренд</p>
                    <p class="card-text" th:text="'Цвет: ' + ${fridge.color}">Цвет</p>
                    <p class="card-text" th:text="'Стоимость: ' + ${fridge.price} + ' руб'">Стоимость</p>
                    <p class="card-text" th:text="'Количество: ' + ${fridge.quantity}">Количество</p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/fridge/{id}(id=${fridge.id})}" class="btn btn-primary">Показать детали</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>